/* Disable right sidebar */
.sidebarHidden {
  display: none;
}

/* Make page full width */
.container {
  margin-left: 280px; /* Adjust this value to match your sidebar width */
  max-width: calc(100% - 280px); /* Adjust this value to match your sidebar width */
}