/* Hide right sidebar */
.sidebarHidden {
  display: none;
}

/* Make page full width */
.layout-docs .layout-wrapper {
  grid-template-columns: 1fr;
}

.layout-docs .content-wrapper {
  max-width: 100%;
  margin: 0 auto;
}