/* Disable right sidebar */
.sidebarHidden {
  display: none;
}

/* Make page full width */
.layout-docs .w-9/12 {
  width: 100%;
}

.layout-docs .w-3/12 {
  display: block;
  width: 280px; /* Adjust this value based on your left sidebar width */
}